body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2c2c2c; /* Dark background */
}

.container {
    text-align: center;
    background-color: #3e3e3e; /* Darker container background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: white; /* White text */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #b83b5e; /* Dark red button */
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #9c3351; /* Slightly darker red on hover */
}

#lotteryNumbers {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5; /* Light gray text */
}
